<div class="container pt-4">
  <div class="d-flex justify-content-center pb-4">
    <h1>Movie Search</h1>
  </div>

  <input
    [(ngModel)]="title"
    class="form-control"
    placeholder="Enter movie title..."
  />

  <div class="pt-2">
    <button (click)="searchMovie(title)" class="btn btn-dark btn-block">
      Search
    </button>
  </div>

  <div class="row justify-content-center p-2">
    <div
      class="card m-2"
      style="width: 16rem;"
      *ngFor="let movie of result.Search"
    >
      <img
        src="{{ movie.Poster }}"
        class="card-img-top rounded"
        alt="Poster Missing"
      />
      <div class="card-body">
        <h5 class="card-title pb-3">{{ movie.Title }}</h5>
        <p><strong>Year:</strong> {{ movie.Year }}</p>
        <p><strong>IMDB:</strong> {{ details.imdbRating }}</p>
        <p><strong>Rec:</strong> {{ count }}</p>

        <div class="row justify-content-around">
          <button
            (click)="addRec(movie.imdbID)"
            class="btn btn-primary"
            [disabled]="!this.disabledbutton"
          >
            Recit
          </button>
          <a
            routerlink="/movie"
            (click)="movieSelected(movie.imdbID)"
            class="btn btn-secondary text-white"
            >Info</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
